# Astronomy Python Basics: Variables and Data Types

In [1]:
import numpy as np

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

## Part 1: Basic Variable Types
### Demonstrating different basic variable types used in astronomical data

In [2]:
# Integer - representing number of stars in a cluster
stars_in_cluster = 10000

# Float - representing distance to a celestial object in light-years
andromeda_distance = 2.537e6  # 2.537 million light-years

# String - naming celestial objects
galaxy_name = "Andromeda Galaxy"

# Boolean - used for scientific conditions
is_exoplanet_habitable = True

In [4]:
# float16, float32, double

In [5]:
print("Stars in cluster:", stars_in_cluster)
print("Andromeda distance:", andromeda_distance, "light-years")
print("Galaxy name:", galaxy_name)
print("Habitable exoplanet:", is_exoplanet_habitable)

Stars in cluster: 10000
Andromeda distance: 2537000.0 light-years
Galaxy name: Andromeda Galaxy
Habitable exoplanet: True

## Part 2: Lists and Arrays
### Different ways to store multiple astronomical measurements

In [6]:
# List - flexible collection of different types
stellar_temperatures = [5778, 3500, 30000, 4000]
planet_names = ["Earth", "Mars", "Jupiter", "Saturn"]

In [7]:
# Accessing elements in a list
print("The third planet is:", planet_names[2])  # Indexing starts from 0 in Python

# Adding a new object to the list (e.g., adding Pluto back)
planet_names.append("Pluto")
print("Updated planets:", planet_names)

# Removing an element from the list (if we remove Pluto again)
planet_names.remove("Pluto")
print("Planets after removal:", planet_names)

The third planet is: Jupiter
Updated planets: ['Earth', 'Mars', 'Jupiter', 'Saturn', 'Pluto']
Planets after removal: ['Earth', 'Mars', 'Jupiter', 'Saturn']

In [8]:
# List operations
print("Stellar Temperatures:", stellar_temperatures)
print("First planet:", planet_names[0])
print("Last planet:", planet_names[-1])

Stellar Temperatures: [5778, 3500, 30000, 4000]
First planet: Earth
Last planet: Saturn

In [9]:
# Arrays in Python using NumPy
import numpy as np

# Arrays are more efficient for numerical operations than lists.
# Example: Storing distances of planets from the Sun in AU (Astronomical Units)

distances = np.array([0.39, 0.72, 1.0, 1.52, 5.2, 9.58, 19.22, 30.05], 
                     dtype=np.float32)
print("Distances of planets from the Sun (in AU):", distances)
print("Data type of distances array:", distances.dtype)  # Checking dtype of array

Distances of planets from the Sun (in AU): [ 0.39  0.72  1.    1.52  5.2   9.58 19.22 30.05]
Data type of distances array: float32

In [10]:
# Performing mathematical operations on arrays
scaled_distances = distances * 149.6  # Convert AU to millions of km
print("Distances in million km:", scaled_distances)

# Changing dtype of an array
scaled_distances_int = scaled_distances.astype(np.int32)
print("Distances in million km (as integers):", scaled_distances_int)
print("New dtype:", scaled_distances_int.dtype)

# Slicing an array (e.g., inner planets only)
inner_planets = distances[:4]  # First four elements
print("Inner planets distances (in AU):", inner_planets)

Distances in million km: [  58.344     107.712006  149.6       227.39201   777.92     1433.1681
 2875.312    4495.48    ]
Distances in million km (as integers): [  58  107  149  227  777 1433 2875 4495]
New dtype: int32
Inner planets distances (in AU): [0.39 0.72 1.   1.52]

In [11]:
# Numpy array operations
print("Mean star magnitude:", np.mean(distances))
print("Maximum star magnitude:", np.max(distances))

Mean star magnitude: 8.459999
Maximum star magnitude: 30.05

## Part 3: Data Types and Type Conversion
### Understanding and converting between different data types

In [12]:
# Type checking
print("Type of stars_in_cluster:", type(stars_in_cluster))
print("Type of andromeda_distance:", type(andromeda_distance))

Type of stars_in_cluster: <class 'int'>
Type of andromeda_distance: <class 'float'>

In [13]:
# Type conversion
stars_as_string = str(stars_in_cluster)
distance_as_integer = int(andromeda_distance)

print("\nConverted types:")
print("Stars as string:", stars_as_string, "Type:", type(stars_as_string))
print("Distance as integer:", distance_as_integer, "Type:", type(distance_as_integer))

Converted types:
Stars as string: 10000 Type: <class 'str'>
Distance as integer: 2537000 Type: <class 'int'>

## Part 4: Advanced Printing Techniques
### Different ways to format and print information

In [16]:
# F-strings (formatted string literals)
telescope_name = "Hubble Space Telescope"
observation_year = 1990
print(f"Telescope: {telescope_name}, Launched in: {observation_year}")

Telescope: Hubble Space Telescope, Launched in: 1990

In [17]:
# Multiple variable printing
print("\nMultiple Variables:")
print("Galaxy:", galaxy_name, "| Distance:", andromeda_distance, "light-years")

Multiple Variables:
Galaxy: Andromeda Galaxy | Distance: 2537000.0 light-years

In [18]:
# Formatted printing with precision
orbital_period = 365.256  # Earth's orbital period
print("\nPrecision Formatting:")
print(f"Earth's orbital period: {orbital_period:.2f} days")

Precision Formatting:
Earth's orbital period: 365.26 days

In [20]:
# Formatted printing with precision
orbital_period = 365.256  # Earth's orbital period
print("\nPrecision Formatting:")
print("Earth's orbital period: %.2f days"%orbital_period)

Precision Formatting:
Earth's orbital period: 365.26 days

## Part 5: Astronomy Data Handling
### Creating a simple dataset of exoplanets

In [21]:
# Dictionary to store exoplanet information
exoplanets = {
    "Kepler-22b": {"distance": 600, "radius": 2.4, "habitable": True},
    "TRAPPIST-1e": {"distance": 39, "radius": 0.92, "habitable": True},
    "HD 209458 b": {"distance": 159, "radius": 1.32, "habitable": False}
}

In [22]:
exoplanets.keys()

dict_keys(['Kepler-22b', 'TRAPPIST-1e', 'HD 209458 b'])

In [70]:
exoplanets['Kepler-22b'].keys()

dict_keys(['distance', 'radius', 'habitable'])

In [73]:
exoplanets['Kepler-22b']['distance']

600

In [63]:
exoplanets.items()

dict_items([('Kepler-22b', {'distance': 600, 'radius': 2.4, 'habitable': True}), ('TRAPPIST-1e', {'distance': 39, 'radius': 0.92, 'habitable': True}), ('HD 209458 b', {'distance': 159, 'radius': 1.32, 'habitable': False})])

In [23]:
# Iterating and printing exoplanet data
print("\nExoplanet Information:")



for item in exoplanets.items():
    
    name, details = item[0], item[1]
    
    # print(f"{name}: Distance = {details['distance']} light-years, "
    #       f"Radius = {details['radius']} Earth radii, "
    #       f"Habitable = {details['habitable']}")

    print("%s: Distance = %i light-years, "
          "Radius = %.2f Earth radii, "
          "Habitable = %s" %(name, 
                             details['distance'], 
                             details['radius'], 
                             details['habitable']))

Exoplanet Information:
Kepler-22b: Distance = 600 light-years, Radius = 2.40 Earth radii, Habitable = True
TRAPPIST-1e: Distance = 39 light-years, Radius = 0.92 Earth radii, Habitable = True
HD 209458 b: Distance = 159 light-years, Radius = 1.32 Earth radii, Habitable = False

# Homework Assignment: Applying Variables in Astronomy
# ------------------------------------------
# Instructions: Use Python to complete the following tasks.

### 1. Create a variable to store the mass of Earth in kilograms (5.972 × 10^24 kg)
### 2. Define a list containing the names of the four Galilean moons of Jupiter.
### 3. Use a NumPy array to store the orbital periods (in days) of these moons:
####    - Io: 1.77 days, Europa: 3.55 days, Ganymede: 7.15 days, Callisto: 16.69 days
### 4. Calculate their periods in hours (1 day = 24 hours) and print the results in different formats.
####    - Use string concatenation, f-strings, and regular print formatting.
### 5. Identify which of these moons have orbital periods shorter than 5 days and print them.
### 6. Create a dictionary called star_catalog with the following information for at least 3 stars:

#### - Star name
#### - Distance from Earth (light-years)
#### - Surface temperature (Kelvin)
#### - Brightness magnitude

##### Requirements for homework 6:

##### -- Use different data types in your dictionary. 
##### --Print out the entire catalog using a loop. 
##### --Bonus question: Calculate and print the average temperature of the stars

# Save your results and submit your completed notebook.